@model IEnumerable<Category>

@{
    ViewData["Title"] = "Kategori Listesi";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kategori Listesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Kategori Listesi</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->



        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                        <a class="btn btn-primary btn-sm" onclick="openCreateModal('Category')">Yeni Kategori Oluştur</a>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Kategori Adı</th>
                                    <th width="200px"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Where(x => x.CategoryId == null))
                                {
                                    <tr data-widget="expandable-table" aria-expanded="false">
                                        <td>
                                            <button type="button" class="btn btn-outline-dark p-0">
                                                <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                            </button>
                                            @item.Name
                                        </td>
                                        <td width="200px" class="float-right">
                                            <a onclick="openDeleteModal('Category', @item.Id)" class="btn btn-danger btn-sm " title="Kaydı Sil"><i class="fa fa-trash"></i></a>
                                            <a onclick="openEditModal('Category', @item.Id)" class="btn btn-warning btn-sm " title="Kaydı Güncelle"><i class="fa fa-edit"></i></a>
                                        </td>

                                    </tr>
                                    <tr class="expandable-body">
                                        <td>
                                            <div class="p-0">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        @foreach (var item2 in Model.Where(x => x.CategoryId == item.Id))
                                                        {


                                                            <tr data-widget="expandable-table" aria-expanded="false">
                                                                <td>
                                                                    @item2.Name
                                                                </td>
                                                                <td class="float-right">
                                                                    @*<a onclick="openCreateModal('CategoryProperty')" class="btn btn-info btn-sm " title="Detay Ekle"><i class="fa fa-plus"></i></a>*@
                                                                    <a onclick="openDeleteModal('Category', @item2.Id)" class="btn btn-danger btn-sm " title="Kaydı Sil"><i class="fa fa-trash"></i></a>
                                                                    <a onclick="openEditModal('Category', @item2.Id)" class="btn btn-warning btn-sm " title="Kaydı Güncelle"><i class="fa fa-edit"></i></a>
                                                                </td>
                                                            </tr>



                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                }




                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

<vc:modal modal-id="modalCategoryCreate" header-text="Kategori Oluştur" form-id="formCategoryCreate" button-text="Kaydet" button-class="primary" detail-div-id="divCreateModalDetail"></vc:modal>

<vc:modal modal-id="modalCategoryEdit" header-text="Kategori Güncelle" form-id="formCategoryEdit" button-text="Kaydet" button-class="primary" detail-div-id="divEditModalDetail"></vc:modal>

<vc:modal modal-id="modalCategoryDelete" header-text="Kategori Sil" form-id="formCategoryDelete" button-text="Sil" button-class="danger" detail-div-id="divDeleteModalDetail"></vc:modal>

@*<vc:modal modal-id="modalCategoryPropertyCreate" header-text="Kategori Detay Oluştur" form-id="formCategoryPropertyCreate" button-text="Kaydet" button-class="primary" detail-div-id="divCreateModalDetail"></vc:modal>*@




















@*       <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Üst Kategori</th>
                                    <th>Kategori Adı</th>
                                    <th width="80px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CategoryId</td>
                                        <td>@item.Name</td>
                                        <td>
                                            <a onclick="openDeleteModal('Category', @item.Id)" class="btn btn-danger btn-sm" title="Kaydı Sil"><i class="fa fa-trash"></i></a>
                                            <a onclick="openEditModal('Category', @item.Id)" class="btn btn-warning btn-sm" title="Kaydı Güncelle"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>*@  