@using System.Security.Claims;
@{
    string path = Context.Request.Path;
}
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        <li class="nav-item">
            <a asp-controller="Home" asp-action="Index" class="nav-link @(path=="/" ? "active" : "")">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Anasayfa


                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link @(path.StartsWith("/Category") ? "active" : "")">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Kategori İşlemleri
                    <i class="fas fa-angle-left right"></i>

                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Category" class="nav-link @(path=="/Category" ? "active" : "")">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Kategoriler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="CategoryProperty" class="nav-link @(path.StartsWith("/CategoryProperty") ? "active" : "")">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Kategori Detayları</p>
                    </a>
                </li>

            </ul>
        </li>
        @if (User.FindFirst(ClaimTypes.Role).Value == "Admin")
        {


            <li class="nav-item">
                <a asp-controller="User" asp-action="Index" class="nav-link @(path.StartsWith("/User") ? "active" : "")">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Kullanıcılar

                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a asp-controller="Member" asp-action="Index" class="nav-link @(path.StartsWith("/Member") ? "active" : "")">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Üyeler

                    </p>
                </a>

            </li>
        }
        @*  <li class="nav-item">
        <a asp-controller="Category" asp-action="Index" class="nav-link @(path.StartsWith("/Category") ? "active" : "")">
        <i class="nav-icon fas fa-users"></i>
        <p>
        Kategoriler

        </p>
        </a>

        </li>*@
        <li class="nav-item">
            <a asp-controller="Brand" asp-action="Index" class="nav-link @(path.StartsWith("/Brand") ? "active" : "")">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Markalar


                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link @(path.StartsWith("/Product") ? "active" : "")">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Ürün İşlemleri
                    <i class="fas fa-angle-left right"></i>

                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Product" class="nav-link @(path=="/Product" ? "active" : "")">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Ürünler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="ProductImage" class="nav-link @(path.StartsWith("/Product/ProductImage") ? "active" : "")">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Ürün Fotoğrafları</p>
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item">
            <a asp-controller="Slider" asp-action="Index" class="nav-link @(path.StartsWith("/Slider") ? "active" : "")">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Slaytlar


                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Auth" asp-action="Logout" class="nav-link">
                <i class="nav-icon fas fa-lock"></i>
                <p>
                    Güvenli Çıkış
                </p>
            </a>
        </li>
    </ul>
</nav>