@model Product

<form asp-action="Delete" id="formProductDelete">
    <input type="hidden" asp-for="Id" />
    <div>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Category.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Brand.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Brand.Name)
            </dd>

            @foreach (var image in Model.ProductImages)
            {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => image.Image)
                </dt>
                <dd class="col-sm-8">
                    <div class="user-block" style="width: 80px !important; height: 80px !important;">
                        <img class="img-md" src="~/img/Product/@image.Image" alt="Slayt Image" style="width: 80px !important; height: 80px !important;">
                    </div>
                </dd>
            }

        </dl>
    </div>
</form>