@model IEnumerable<Product>

@{
    ViewData["Title"] = "Ürün  Listesi";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ürün Listesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Ürün Listesi</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->



        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-primary btn-sm" onclick="openCreateModal('Product')">Yeni Ürün Oluştur</a>


                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table id="products" class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Kategori</th>
                                    <th>Marka</th>
                                    <th>Adı</th>
                                    <th>Açıklaması</th>
                                    <th>Fiyatı</th>
                                    <th>İndirimli Fiyatı</th>
                                    <th>Stok Miktari</th>
                                    <th>Vitrin Ürünü Mü ?</th>
                                    <th>Yeni Ürün Mü ?</th>
                                    <th>Aktif Mi ?</th>
                                    <th width="80px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Category.Name</td>
                                        <td>@item.Brand.Name</td>
                                        <td>@item.Name</td>
                                        <td>@Html.Raw(item.Description)</td>
                                        <td>@item.Price</td>
                                        <td>@item.DiscountedPrice</td>
                                        <td>@item.StockQuantity</td>

                                        <td>
                                            @if (item.IsShowcaseProduct)
                                            {
                                                <span class="badge badge-success" style="cursor:pointer;" title="Durumu değiştirmek için tıklayınız" onclick="updateShowCaseState(@item.Id)">Evet</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger" style="cursor:pointer;" title="Durumu değiştirmek için tıklayınız" onclick="updateShowCaseState(@item.Id)">Hayır</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsNewProduct)
                                            {
                                                <span class="badge badge-success" style="cursor:pointer;" title="Durumu değiştirmek için tıklayınız" onclick="updateNewProductState(@item.Id)">Evet</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger" style="cursor:pointer;" title="Durumu değiştirmek için tıklayınız" onclick="updateNewProductState(@item.Id)">Hayır</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.State)
                                            {
                                                <span class="badge badge-success" style="cursor:pointer;" title="Durumu değiştirmek için tıklayınız" onclick="updateState(@item.Id)">Aktif</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger" style="cursor:pointer;" title="Durumu değiştirmek için tıklayınız" onclick="updateState(@item.Id)">Pasif</span>
                                            }
                                        </td>

                                        <td>
                                            <a onclick="openImageModal(@item.Id)" class="btn btn-secondary btn-sm" title="Fotoğraf Ekle"><i class="fa fa-image"></i></a>
                                            <a onclick="openDetailModal(@item.Id)" class="btn btn-secondary btn-sm" title="Detayları Ekle"><i class="fa fa-plus"></i></a>
                                            <a onclick="openDeleteModal('Product', @item.Id)" class="btn btn-danger btn-sm" title="Kaydı Sil"><i class="fa fa-trash"></i></a>
                                            <a onclick="openEditModal('Product', @item.Id)" class="btn btn-warning btn-sm" title="Kaydı Güncelle"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

<vc:modal modal-id="modalProductCreate" header-text="Ürün Oluştur" form-id="formProductCreate" button-text="Kaydet" button-onclick="" button-class="primary" button-type="submit" detail-div-id="divCreateModalDetail"></vc:modal>

<vc:modal modal-id="modalProductEdit" header-text="Ürün Güncelle" form-id="formProductEdit" button-text="Kaydet" button-onclick="" button-class="primary" button-type="submit" detail-div-id="divEditModalDetail"></vc:modal>

<vc:modal modal-id="modalProductDelete" header-text="Ürün Sil" form-id="formProductDelete" button-text="Sil" button-onclick="" button-class="danger" button-type="submit" detail-div-id="divDeleteModalDetail"></vc:modal>

<vc:modal modal-id="modalProductDetail" header-text="Ürün Detay Ekle" form-id="formDetailCreate" button-text="Kaydet" button-onclick="submitDetail()" button-class="primary" button-type="button" detail-div-id="divDetailModalDetail"></vc:modal>
<vc:modal modal-id="modalProductImage" header-text="Ürün Fotoğrafı Ekle" form-id="formImageCreate" button-text="Kaydet" button-onclick="" button-class="primary" button-type="submit" detail-div-id="divImageModalDetail"></vc:modal>

<script>
    function openDetailModal(id) {
        $("#divDetailModalDetail").load("Product/DetailProductPartial/" + id);
        $("#modalProductDetail").modal("toggle");
    }

</script>

<script>
    function openImageModal(id) {
        $("#divImageModalDetail").load("Product/ImageProductPartial/" + id);
        $("#modalProductImage").modal("toggle");
    }

</script>
@section Scripts {
    <!-- Bootstrap Switch -->
    <script src="~/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#products').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ],
                "language": {
                    "lengthMenu": "Tek sayfada _MENU_ ürün göster",
                    "zeroRecords": "Hiçbir kayıt bulunamadı.",
                    "info": "_PAGES_ sayfadan _PAGE_. gösteriliyor ",
                    "infoEmpty": "Hiçbir kayıt bulunamadı.",
                    "infoFiltered": "( _MAX_ Üründen)"
                }
            });
        });
    </script>


    <script>
        function updateShowCaseState(productId) {
            $.ajax({
                type: 'POST',
                url: '/Product/updateShowCaseState/' + productId,
                //data: "email: 'asasd', password: 'asda'",
                success: function (result) {
                    toastr.success(result);
                    location.reload(true);
                },
                error: function () {
                    toastr.error("İşlem sırasında hata oluştu..");
                },
            });
        }

        function updateNewProductState(productId) {
            $.ajax({
                type: 'POST',
                url: '/Product/updateNewProductState/' + productId,
                //data: "email: 'asasd', password: 'asda'",
                success: function (result) {
                    toastr.success(result);
                    location.reload(true);
                },
                error: function () {
                    toastr.error("İşlem sırasında hata oluştu..");
                },
            });
        }

        function updateState(productId) {
            $.ajax({
                type: 'POST',
                url: '/Product/updateState/' + productId,
                //data: "email: 'asasd', password: 'asda'",
                success: function (result) {
                    toastr.success(result);
                    location.reload(true);
                },
                error: function () {
                    toastr.error("İşlem sırasında hata oluştu..");
                },
            });
        }
    </script>


}
